# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.*
!.env.example

# build outputs
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo

# prisma
packages/database/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# turbo (caso venha a ser adotado no futuro)
.turbo/
